body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.6;
    margin: 20px;
    padding: 20px;
    background-color: #c8d1e0;
}

.dynamic-text {
    color: #103a06;
    font-size: 1.2em;
}

.highlight {
    background-color: rgb(124, 214, 83);
}

.dynamic-text:hover {
    color: #e71ad6;
    font-size: 1.5em;
}

button {
    background-color: #104d01;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #1f9108;
}
